<template>
  <div class="card-blue is-fullwidth collapse-item" :class="{ 'is-active': isOpen }">
    <header class="card-header-blue" @click="toggle">

      <div class="card-header-title-blue">{{ title }} | {{ data }}</div>

      <tag class="m-5" type="success" size="medium" rounded v-if="listing.ceckcompanie == 'vizualizat'">vizualizat</tag>

      <tag class="m-5" type="warning" size="medium" rounded v-if="listing.ceckcompanie == 'transmis'">informatie transmisa la compania de constructii</tag>
  
      <div class="btn-group">
        <a href="#" class="btn btn-xs verde"
          v-if="listing.fondlocativ != 'Constructii noi' && listing.decidere =='da' && listing.ceckcompanie=='Nu'" 
          @click.prevent="ceck()" 
          title="Apasati butonul pentru a confirma vizionarea imobilului de catre client" 
          v-tippy="{ placement : 'top',  arrow: true }">
            <i class="material-icons">visibility</i>
          </a>

          <a href="#" class="btn btn-xs oranj"
          v-if="listing.fondlocativ == 'Constructii noi' && listing.decidere =='da' && listing.ceckcompanie=='Nu'"
          @click.prevent="cecknoi()" 
          title="Apasati butonul pentru a confirma transmiterea informatiei la compania de constructii" 
          v-tippy="{ placement : 'top',  arrow: true }">
            <i class="material-icons">assignment_turned_in</i>
          </a>
      </div>

      <span class="card-header-icon-blue"><i class="fa fa-angle-right"></i></span>

    </header>
    <transition name="">
      <div class="card-content-blue" v-show="isOpen">
        <div class="content-blue"><slot></slot></div>
      </div>
    </transition>
  </div>
</template>
<script>

import Tag from '../tag/Tag.vue'

export default {
  props: {
    title: String,
    data: String,
    listing: Object,

    actived: {
      type: Boolean,
      default: false,
    },
    nr: {
      type: Number
    }
  },

  components: {
    Tag
  },

  data() {
    return {
      isOpen: this.actived,
    };
  },

  computed: {
    index() {
      return this.$parent.$collapseItems.indexOf(this);
    },
  },

  watch: {
    isActive(val) {
      this.isOpen = val;
    },
  },

  methods: {
    cecknoi () {
      this.$emit('cecked', {id: this.listing.id, client_id: this.listing.client_id,  tipceck: 'transmis', index: this.nr})
    },
    ceck () {
      this.$emit('cecked', {id: this.listing.id, client_id: this.listing.client_id, tipceck: 'vizualizat', index: this.nr})
    },
    toggle() {
      this.isOpen = !this.isOpen;
      this.$parent.setActiveIndex(this.index);
    },
  },
};
</script>

<style lang="scss">
.card-header-blue{
  .m-5{margin: 5px;}
  .btn-group {
    margin: 5px;
  }
}

</style>
