<template>
<li role="presentation" class="dropdown">
	<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-envelope-o"></i>
      <span class="badge bg-green" v-if="messages.length > 0">{{messages.length}}</span>
  </a>
  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
    <li v-for="(msg, index) in messages">
      <a :href="'/new/vezi-mesaj/' + msg.source + '/' + msg.id">
        <span class="image"><i class="fa fa-envelope fa-3x"> </i> </span> 
        <span>
          <span>{{msg.nume}}</span>
          <span class="time">{{msg.timp}}</span>
        </span>
        <span class="message">
          {{msg.text}}...
        </span>
      </a>
    </li>
    <li v-if="messages.length == 0">
    	<p class="text-center">Nu sunt mesaje noi.</p>
    </li>
  </ul>
  <audio ref="audio" src="https://agenti.topimobiliare.md/assets/icq_sound.mp3" preload="auto" style="display: none!important"></audio>
 </li>
</template>

<script>
export default {
	data () {
		return {
			messages: [],
		}
	},
	methods: {
		getMessages () {
			axios.get('/api/getUnreadMessages').then(function (res) {
				this.messages = res.data
			}.bind(this))
		}
	},
	mounted () {
		this.getMessages()
		
		setInterval(function () {
			this.getMessages()
			if(this.messages.length > 0) {
					this.$refs.audio.play()
				}
		}.bind(this), 60000)
	}
}
</script>