<template>
	<div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="panel panel-default">
					  <div class="panel-body">
					    <div class="page-header mt-0">
	  						<h3 class="mt-10">Darea de seama a agentilor <small>alegeti agentul si perioada care va intereseaza</small></h3>
						</div>
						
							<div class="row">
								
								<div class="form-group col-md-4">
							    	<label for="agent">Agenti</label>
							    	<select id="agent" class="form-control" v-model="user" >
							        	<option selected="" value="">Alege un agent</option>
							        	<option  v-for="(user, index) in users" :key="index" :value="index">{{ user.name }}</option>
							    	</select>
						    	</div>
							    <div class="form-group col-md-3 date1">
							    	<label for="de-la">De la</label>
							    	<datepicker placeholder="ex: 10.11.2015" language="ro" input-class="form-control" v-model="dela"></datepicker>
							    	
							    </div>
							    <div class="form-group col-md-3 date2">
							    	<label for="pina-la">Pina la</label>
							    	<datepicker placeholder="ex: 10.11.2015" language="ro" input-class="form-control" v-model="pinala"></datepicker>
							    </div>
								<div class="form-group col-md-2">
									<button class="btn btn-primary pull-right mt-25" @click="raport()">Vezi raport</button>
								</div>
								
							</div>
						
					  </div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="container lista">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
					  <div class="panel-heading">Panel dare de seama a agentului: <span>{{ curentUser.name }}</span>
					  	<div class="pull-right">
					  		<a href="#" class="btn-floating waves-effect red"><i class="material-icons">print</i></a>
					  	</div>
					  </div>
					  <div class="panel-body">
					    <div class="row">
					    	<div class="col-md-12">
					    		<vue-tabs active-tab-color="#0275d8" active-text-color="white" type="pills" :start-index="1" direction="vertical">
					    			<!-- PRELUATE -->
								    <v-tab title="Imobile preluate">
								    	<div class="row">
								    		<div class="col-md-12" v-if="curentUser !== ''">
								    			
								    			<h3 class="text-center">Imobile preluate de: {{ curentUser.name }}</h3>
							    				<div v-if="prelute.rezidential.length > 0 || prelute.comercial.length > 0 || prelute.terenuri.length > 0">
									    			<div class="panel panel-default">
													  <div class="panel-heading"><h4>Numarul de proprietati</h4></div>
														<ul class="list-group">
															<li class="list-group-item">
														        <span class="badge">{{ prelute.rezidential.length + prelute.comercial.length + prelute.terenuri.length}}</span>
														        Total
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ prelute.rezidential.length}}</span>
														        Rezidential
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ prelute.comercial.length }}</span>
														        Comercial
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ prelute.terenuri.length }}</span>
														        Terenuri
															</li>
														</ul>
													</div>
													<div class="panel panel-default">
														<div class="panel-heading"><h4>Rezidentiale</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Tipul</th>
													            <th>Numele</th>
													            <th>Pretul</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(rez, index) in prelute.rezidential" :key="index">
													            <td>{{ rez.id }}</td>
													            <td>{{ rez.tipul }}</td>
													            <td>{{ rez.titlu }}</td>
													            <td>{{ rez.pret }}</td>
													            <td>{{ rez.created_at | moment("D MMMM YYYY")}}</td>
													            <td>
																	<a :href="rez.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="rez.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="rez.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading"><h4>Comercial</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Tipul</th>
													            <th>Numele</th>
													            <th>Pretul</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(com, index) in prelute.comercial" :key="index">
													            <td>{{ com.id }}</td>
													            <td>{{ com.tipul }}</td>
													            <td>{{ com.titlu }}</td>
													            <td>{{ com.pret }}</td>
													            <td>{{ com.created_at | moment("D MMMM YYYY")}}</td>
													            <td>
																	<a :href="com.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="com.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="com.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading"><h4>Terenuri</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Tipul</th>
													            <th>Numele</th>
													            <th>Pretul</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(ter, index) in prelute.terenuri" :key="index">
													            <td>{{ ter.id }}</td>
													            <td>{{ ter.tipul }}</td>
													            <td>{{ ter.titlu }}</td>
													            <td>{{ ter.pret }}</td>
													            <td>{{ ter.created_at | moment("D MMMM YYYY")}}</td>
													            <td>
																	<a :href="ter.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="ter.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="ter.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

							    				</div>
							    				<div v-else> <h4>In perioada aceasta {{ curentUser.name }} nu a preluat nici o proprietate</h4></div>
								    		</div>
								    		<div class="col-md-12" v-else>
								    			<h3 class="text-center">Alegeti un agent si perioada de la - pina la</h3>
								    		</div>
								    	</div>
								    </v-tab>
									<!-- END PRELUATE -->

									<!-- VIZIONATE -->
								    <v-tab title="Vizionări">
								    	<div class="row">
								    		<div class="col-md-12" v-if="curentUser !== ''">
								    			
								    			<h3 class="text-center">Imobile vizionate de: {{ curentUser.name }}</h3>
							    				<div v-if="vizionate.rezidential.length > 0 || vizionate.comercial.length > 0 || vizionate.teren.length > 0">
									    			<div class="panel panel-default">
													  <div class="panel-heading"><h4>Numarul de proprietati</h4></div>
														<ul class="list-group">
															<li class="list-group-item">
														        <span class="badge">{{ vizionate.rezidential.length + vizionate.comercial.length + vizionate.teren.length}}</span>
														        Total
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ vizionate.rezidential.length}}</span>
														        Rezidential
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ vizionate.comercial.length }}</span>
														        Comercial
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ vizionate.teren.length }}</span>
														        Terenuri
															</li>
														</ul>
													</div>
													<div class="panel panel-default">
														<div class="panel-heading"><h4>Rezidentiale</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Numele</th>
													            <th>Detalii</th>
													            <th>Date Vizitator</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(rez, index) in vizionate.rezidential" :key="index">
													            <td>{{ rez.id }}</td>
													            <td>{{ rez.titlu }}</td>
													            <td>{{ rez.detalii }}</td>
													            <td>{{ rez.nume_vizitator }}<br>{{ rez.telefon_vizitator }}</td>
													            <td>{{ rez.created_at.date | moment("D MMMM YYYY") }}</td>
													            <td>
																	<a :href="rez.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="rez.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="rez.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading"><h4>Comercial</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Numele</th>
													            <th>Detalii</th>
													            <th>Date Vizitator</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(com, index) in vizionate.comercial" :key="index">
													            <td>{{ com.id }}</td>
													            <td>{{ com.titlu }}</td>
													            <td>{{ com.detalii }}</td>
													            <td>{{ com.nume_vizitator }}<br>{{ com.telefon_vizitator }}</td>
													            <td>{{ com.created_at.date | moment("D MMMM YYYY")}}</td>
													            <td>
																	<a :href="com.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="com.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="com.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading"><h4>Terenuri</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Numele</th>
													            <th>Detalii</th>
													            <th>Date Vizitator</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(ter, index) in vizionate.teren" :key="index">
													            <td>{{ ter.id }}</td>
													            <td>{{ ter.titlu }}</td>
													            <td>{{ ter.detalii }}</td>
													            <td>{{ ter.nume_vizitator }}<br>{{ ter.telefon_vizitator }}</td>
													            <td>{{ ter.created_at.date | moment("D MMMM YYYY")}}</td>
													            <td>
																	<a :href="ter.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="ter.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="ter.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

							    				</div>
							    				<div v-else> <h4>In perioada aceasta {{ curentUser.name }} nu a vizionat nici o proprietate</h4></div>
								    		</div>
								    		<div class="col-md-12" v-else>
								    			<h3 class="text-center">Alegeti un agent si perioada de la - pina la</h3>
								    		</div>
								    	</div>
								    </v-tab>
									<!-- END VIZIONATE -->

									<!-- APELARI -->
								    <v-tab title="Apelări">
								    	<div class="row">
								    		<div class="col-md-12" v-if="curentUser !== ''">
								    			
								    			<h3 class="text-center">Apelari efectuate de: {{ curentUser.name }}</h3>
							    				<div v-if="apelate.rezidential.length > 0 || apelate.comercial.length > 0 || apelate.teren.length > 0">
									    			<div class="panel panel-default">
													  <div class="panel-heading"><h4>Numarul de proprietati</h4></div>
														<ul class="list-group">
															<li class="list-group-item">
														        <span class="badge">{{ apelate.rezidential.length + apelate.comercial.length + apelate.teren.length}}</span>
														        Total
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ apelate.rezidential.length}}</span>
														        Rezidential
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ apelate.comercial.length }}</span>
														        Comercial
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ apelate.teren.length }}</span>
														        Terenuri
															</li>
														</ul>
													</div>
													<div class="panel panel-default">
														<div class="panel-heading"><h4>Rezidentiale</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Numele</th>
													            <th>Detalii</th>
													            <th>Date Vizitator</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(rez, index) in apelate.rezidential" :key="index">
													            <td>{{ rez.id }}</td>
													            <td>{{ rez.titlu }}</td>
													            <td>{{ rez.detalii }}</td>
													            <td>{{ rez.nume_vizitator }}<br>{{ rez.telefon_vizitator }}</td>
													            <td>{{ rez.created_at.date | moment("D MMMM YYYY") }}</td>
													            <td>
																	<a :href="rez.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="rez.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="rez.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading"><h4>Comercial</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Numele</th>
													            <th>Detalii</th>
													            <th>Date Vizitator</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(com, index) in apelate.comercial" :key="index">
													            <td>{{ com.id }}</td>
													            <td>{{ com.titlu }}</td>
													            <td>{{ com.detalii }}</td>
													            <td>{{ com.nume_vizitator }}<br>{{ com.telefon_vizitator }}</td>
													            <td>{{ com.created_at.date | moment("D MMMM YYYY")}}</td>
													            <td>
																	<a :href="com.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="com.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="com.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading"><h4>Terenuri</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Numele</th>
													            <th>Detalii</th>
													            <th>Date Vizitator</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(ter, index) in apelate.teren" :key="index">
													            <td>{{ ter.id }}</td>
													            <td>{{ ter.titlu }}</td>
													            <td>{{ ter.detalii }}</td>
													            <td>{{ ter.nume_vizitator }}<br>{{ ter.telefon_vizitator }}</td>
													            <td>{{ ter.created_at.date | moment("D MMMM YYYY")}}</td>
													            <td>
																	<a :href="ter.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="ter.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="ter.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

							    				</div>
							    				<div v-else> <h4>In perioada aceasta {{ curentUser.name }} nu a efectuat nici un apel</h4></div>
								    		</div>
								    		<div class="col-md-12" v-else>
								    			<h3 class="text-center">Alegeti un agent si perioada de la - pina la</h3>
								    		</div>
								    	</div>
								    </v-tab>
									
									<!-- END APELARI -->

								    <v-tab title="Vândute/Închiriate">
								    	<div class="row">
								    		<div class="col-md-12" v-if="curentUser !== ''">
								    			
								    			<h3 class="text-center">Imobile vindute (inchiriate) de: {{ curentUser.name }}</h3>
							    				<div v-if="vindute.rezidential.length > 0 || vindute.comercial.length > 0 || vindute.teren.length > 0">
									    			<div class="panel panel-default">
													  <div class="panel-heading"><h4>Numarul de proprietati</h4></div>
														<ul class="list-group">
															<li class="list-group-item">
														        <span class="badge">{{ vindute.rezidential.length + vindute.comercial.length + vindute.teren.length}}</span>
														        Total
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ vindute.rezidential.length}}</span>
														        Rezidential
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ vindute.comercial.length }}</span>
														        Comercial
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ vindute.teren.length }}</span>
														        Terenuri
															</li>
														</ul>
													</div>
													<div class="panel panel-default">
														<div class="panel-heading"><h4>Rezidentiale</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Numele</th>
													            <th>Detalii</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(rez, index) in vindute.rezidential" :key="index">
													            <td>{{ rez.id }}</td>
													            <td>{{ rez.titlu }}</td>
													            <td>{{ rez.detalii }}</td>
													            <td>{{ rez.created_at.date | moment("D MMMM YYYY") }}</td>
													            <td>
																	<a :href="rez.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="rez.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="rez.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading"><h4>Comercial</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Numele</th>
													            <th>Detalii</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(com, index) in vindute.comercial" :key="index">
													            <td>{{ com.id }}</td>
													            <td>{{ com.titlu }}</td>
													            <td>{{ com.detalii }}</td>
													            <td>{{ com.created_at.date | moment("D MMMM YYYY")}}</td>
													            <td>
																	<a :href="com.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="com.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="com.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading"><h4>Terenuri</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Numele</th>
													            <th>Detalii</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(ter, index) in vindute.teren" :key="index">
													            <td>{{ ter.id }}</td>
													            <td>{{ ter.titlu }}</td>
													            <td>{{ ter.detalii }}</td>
													            <td>{{ ter.created_at.date | moment("D MMMM YYYY")}}</td>
													            <td>
																	<a :href="ter.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="ter.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="ter.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

							    				</div>
							    				<div v-else> <h4>In perioada aceasta {{ curentUser.name }} nu a efectuat nici o vinzare (inchiriere)</h4></div>
								    		</div>
								    		<div class="col-md-12" v-else>
								    			<h3 class="text-center">Alegeti un agent si perioada de la - pina la</h3>
								    		</div>
								    	</div>
								    </v-tab>

								    <v-tab title="Pierdute">
								    	<div class="row">
								    		<div class="col-md-12" v-if="curentUser !== ''">
								    			
								    			<h3 class="text-center">Imobile pierdute de: {{ curentUser.name }}</h3>
							    				<div v-if="pierdute.rezidential.length > 0 || pierdute.comercial.length > 0 || pierdute.teren.length > 0">
									    			<div class="panel panel-default">
													  <div class="panel-heading"><h4>Numarul de proprietati</h4></div>
														<ul class="list-group">
															<li class="list-group-item">
														        <span class="badge">{{ pierdute.rezidential.length + pierdute.comercial.length + pierdute.teren.length}}</span>
														        Total
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ pierdute.rezidential.length}}</span>
														        Rezidential
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ pierdute.comercial.length }}</span>
														        Comercial
															</li>
															<li class="list-group-item">
														        <span class="badge">{{ pierdute.teren.length }}</span>
														        Terenuri
															</li>
														</ul>
													</div>
													<div class="panel panel-default">
														<div class="panel-heading"><h4>Rezidentiale</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Numele</th>
													            <th>Detalii</th>
													            <th>Motivul</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(rez, index) in pierdute.rezidential" :key="index">
													            <td>{{ rez.id }}</td>
													            <td>{{ rez.titlu }}</td>
													            <td>{{ rez.detalii }}</td>
													            <td>{{ rez.motiv }}</td>
													            <td>{{ rez.created_at.date | moment("D MMMM YYYY") }}</td>
													            <td>
																	<a :href="rez.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="rez.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="rez.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading"><h4>Comercial</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Numele</th>
													            <th>Detalii</th>
													            <th>Motivul</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(com, index) in pierdute.comercial" :key="index">
													            <td>{{ com.id }}</td>
													            <td>{{ com.titlu }}</td>
													            <td>{{ com.detalii }}</td>
													            <td>{{ com.motiv }}</td>
													            <td>{{ com.created_at.date | moment("D MMMM YYYY")}}</td>
													            <td>
																	<a :href="com.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="com.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="com.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading"><h4>Terenuri</h4></div>
														<div class="table-responsive">
														  <table class="table table-bordered">
														    <thead>
													          <tr>
													            <th>Id</th>
													            <th>Numele</th>
													            <th>Detalii</th>
													            <th>Motivul</th>
													            <th>Data</th>
													            <th>Lincuri</th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr v-for="(ter, index) in pierdute.teren" :key="index">
													            <td>{{ ter.id }}</td>
													            <td>{{ ter.titlu }}</td>
													            <td>{{ ter.detalii }}</td>
													            <td>{{ ter.motiv }}</td>
													            <td>{{ ter.created_at.date | moment("D MMMM YYYY")}}</td>
													            <td>
																	<a :href="ter.link_site" target="_blank">
																	<img src="/img/tig.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="ter.noua" target="_blank">
																		<img src="/img/999.png" alt="Top Imobiliare">
																	</a>  
																	<a :href="ter.makler" target="_blank"><img src="/img/makler.png" alt="Top Imobiliare"></a> 
													            </td>
													          </tr>
													        </tbody>
														  </table>
														</div>
													</div>

							    				</div>
							    				<div v-else> <h4>In perioada aceasta {{ curentUser.name }} nu pierdut nici un imobil</h4></div>
								    		</div>
								    		<div class="col-md-12" v-else>
								    			<h3 class="text-center">Alegeti un agent si perioada de la - pina la</h3>
								    		</div>
								    	</div>
								    </v-tab>
								</vue-tabs>
					    	</div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

import Datepicker from 'vuejs-datepicker'
import DateLanguages from './utils/DateLanguages'


  export default {
    name: 'rapoarte',
    components: {
	    Datepicker
  	},
    data () {
    	return {
    		users: [],
    		dela: '',
    		pinala: '',
    		user: '',
    		activ: true,
    		prelute: {
    			rezidential: [],
    			comercial: [],
    			terenuri: []
    		},
    		vizionate: {
    			rezidential: [],
    			comercial: [],
    			teren: []
    		},
    		apelate: {
    			rezidential: [],
    			comercial: [],
    			teren: []
    		},
    		vindute: {
    			rezidential: [],
    			comercial: [],
    			teren: []
    		},
    		pierdute: {
    			rezidential: [],
    			comercial: [],
    			teren: []
    		},
    		curentUser: ''

    	}
    },
    methods: {
    	getUsers () {
            axios.get('/api/getUsers').then(function(response){
                this.users = response.data
            }.bind(this)).catch(function(error){
                console.log(error)
            })
        },
        raport () {

        	this.curentUser = this.users[this.user]

            axios.get('/api/getRapoarte', {
                params: {
                    user: this.curentUser.id,
                    dela: this.dela,
                    pinala: this.pinala 
                }
            }).then(function(response){

                this.prelute = response.data

            }.bind(this)).catch(function(error){
                console.log(error)
            })

            axios.get('/api/vizionari', {
                params: {
                    user: this.curentUser.id,
                    dela: this.dela,
                    pinala: this.pinala 
                }
            }).then(function(response){

                this.vizionate = response.data

            }.bind(this)).catch(function(error){
                console.log(error)
            })

            axios.get('/api/apelari', {
                params: {
                    user: this.curentUser.id,
                    dela: this.dela,
                    pinala: this.pinala 
                }
            }).then(function(response){

                this.apelate = response.data

            }.bind(this)).catch(function(error){
                console.log(error)
            })

            axios.get('/api/vindute', {
                params: {
                    user: this.curentUser.id,
                    dela: this.dela,
                    pinala: this.pinala 
                }
            }).then(function(response){

                this.vindute = response.data

            }.bind(this)).catch(function(error){
                console.log(error)
            })

            axios.get('/api/pierdute', {
                params: {
                    user: this.curentUser.id,
                    dela: this.dela,
                    pinala: this.pinala 
                }
            }).then(function(response){

                this.pierdute = response.data

            }.bind(this)).catch(function(error){
                console.log(error)
            })
        }

    },
    mounted(){
        this.getUsers()
    }
  }
</script>

<style lang="scss">
	.lista{
		.left-vertical-tabs{
			width: 15%;
			margin-right: 15px;
			li{
				a{
					border: 1px solid #0375d8;
					color: #0275d8;
				}
			}
		}
		.tab-content {
			display: flex;
			width: 85%; 
			.tab-container {
			  	width: 100%;
			    display: block;
			    animation: fadeInUp 0.5s;
  			}
			.badge{
				background-color: #ea0c51;
			}
		}

		.panel-default {
			.panel-heading{
				background-color: #ea0c54;
    			color: #fff;
			}
			
		}

	}
</style>