<template>
<div>
	<tinymce id="content" v-model="content"></tinymce>
	<input type="hidden" :name="nume" v-model="content">
</div>
</template>

<script>

export default {
	props: ['nume'],
	data () {
		return {
			content: '',
		}
  }
}
</script>

