<template>
	<div class="clienti">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading mt-0">
		  					<h3 class="mt-10">Baza de clienți</h3>
		  					<!--<button class="btn btn-primary pull-right" @click="deschide()">Adauga client</button>-->
		  					<button class="btn btn-primary pull-right" @click="deschideAddClient()">Adauga client</button>
						</div>
						<div class="panel-body">

							<!-- Filtre -->
							<div class="row">
								<div class="col-md-2 col-sm-12">
									<div class="form-group">
										<label class="control-label" for="tipul">Agent</label>
										<select class="form-control" id="tipul" v-model="cauta.agent">
											<option value="toti">Toți</option>
											<option v-for="(ag, index) in agenti" :key="index" :value="ag.id">{{ ag.name }}</option>
											
										</select>
									</div>
								</div>
								<div class="col-md-2 col-sm-12">
									<div class="form-group">
										<label class="control-label" for="tipul">Tipul</label>
										<select class="form-control" id="tipul" v-model="cauta.tipul">
											<option value="">Toate tipurile</option>
											<option value="cumparare">Cumpărare</option>
											<option value="vinzare">Vânzare</option>
											<option value="inchiriere">Închiriere</option>
										</select>
									</div>
								</div>
								<div class="col-md-2 col-sm-12">
									<div class="form-group">
										<label class="control-label" for="categoria">Categorie</label>
										<select class="form-control" id="categoria" v-model="cauta.categoria">
											<option value="">Toate categoriile</option>
										 	<option value="rezidential">Rezidențial</option>
										  	<option value="comercial">Comercial</option>
										  	<option value="terenuri">Terenuri</option>
										</select>
									</div>
								</div>
								<div class="col-md-2 col-sm-12">
									<div class="form-group">
										<label class="control-label" for="compania">Compania de constructii</label>
										<select class="form-control" id="compania" v-model="cauta.compania">
											<option value="">Toate companiile</option>
										  	<option v-for="(com, index) in companii" :key="index" :value="com.nume">{{ com.nume }}</option>
										</select>
									</div>
								</div>
								<div class="col-md-2 col-sm-12">
									<div class="form-group">
										<label class="control-label" for="compania">Informatie transmisa?</label>
										<select class="form-control" id="compania" v-model="cauta.ceckcompanie">
											<option value="">Ambele</option>
										  	<option>Nu</option>
										  	<option>Da</option>
										</select>
									</div>
								</div>
								<div class="col-md-2 col-sm-12">
									<button class="btn btn-primary mt-25 btn-block disabled" v-if="actiune"> se incarca ... </button>
									<button class="btn btn-primary mt-25 btn-block" @click="cautare()" v-if="caut && actiune == false">Sorteaza</button>
								</div>
							</div>
							<!-- End filtre -->

							<!-- Tabel clenti -->
							<div class="row">
								<div class="col-md-12">

									<div class="table-responsive">
										<table class="table table-bordered">
										    <thead>
										        <tr>
										        	<th>Agent</th>
										        	<th>Nume client</th>
										        	<th>Telefon</th>
										        	<th>Site</th>
										        	<th>Detalii</th>
										        	<th>Data</th>
										        	<th class="minw-150">Actiuni</th>
										        	
										        </tr>
										    </thead>
										    <tbody>
										        <tr v-for="(c, index) in clients" :key="index" :class="{da: c.ceckcompanie == 'Da'}">
										        	<td>{{ c.user.name }}</td>
										        	<td>{{ c.nume }}</td>
										        	<td>{{ c.telefon }}</td>
										        	<td>{{ c.sait }}</td>
										        	<td>{{ c.interes }}</td>
										        	<td>{{ c.created_at | moment("D MMMM YYYY") }}</td>
										        	<td class="text-center">
										        		<div class="btn-group">
										        			<a href="#" class="btn btn-xs verde" 
										        			v-if="c.user_id == userId"
										        			@click.prevent="view(index)" 
										        			title="Vezi detalii client" 
										        			v-tippy="{ placement : 'top',  arrow: true }">
										        				<i class="material-icons">visibility</i>
										        			</a>

										        			<a href="#" class="btn btn-xs oranj" 
										        			v-if="c.user_id == userId" 
										        			@click.prevent="deschideAdaugareImobil(index)" 
										        			title="Adauga o proprietate" 
										        			v-tippy="{ placement : 'top',  arrow: true }">
										        				<i class="material-icons">add_circle_outline</i>
										        			</a>

											        		<a href="#" class="btn btn-xs violet" 
											        		v-if="c.user_id == userId" 
											        		@click.prevent="edit(index)"
											        		title="Editeaza clientul" 
										        			v-tippy="{ placement : 'top',  arrow: true }">
											        			<i class="material-icons">mode_edit</i>
											        		</a>

											        		<a href="#" class="btn btn-xs rosu" 
											        		v-if="c.user_id == userId" 
											        		@click.prevent="sterge(c.id)"
											        		title="Sterge clientul" 
										        			v-tippy="{ placement : 'top',  arrow: true }">
											        			<i class="material-icons">delete_forever</i>
											        		</a>
											        	</div>
										        	</td>
										        	
										        </tr>
									    	</tbody>
										</table>
									</div>
								</div>
							</div>
							<!-- End Tabel clenti -->

						</div>
					</div>
				</div>
			</div>

			

		
		</div>

		<!-- Modal editare client -->
		<sweet-modal ref="modal" :title="'Editeaza clientul ' + client.nume">
			<div class="comtainer-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label" for="nume">Nume Prenume client</label>
  							<input type="text" class="form-control" id="nume" v-model="client.nume">
						</div>
						<div class="form-group">
							<label class="control-label" for="telefon">Numar (numere) de telefon</label>
  							<input type="text" class="form-control" id="telefon" v-model="client.telefon">
						</div>
						<div class="form-group">
							<label class="control-label" for="sait">De pe ce sait a fost solicitarea</label>
  							<input type="text" class="form-control" id="sait" v-model="client.sait">
						</div>
						<div class="form-group">
							<label class="control-label" for="interes">Detalii...</label>
  							<textarea id="interes" class="form-control" v-model="client.interes"></textarea>
						</div>
						
					</div>
					
					
					<div class="col-md-12">
						<button class="btn btn-primary btn-lg btn-block disabled" v-if="actiune"> se incarca ... </button>
						<button type="button" class="btn btn-primary btn-lg btn-block" @click="adauga()" v-if="add == true && actiune == false">Adauga client</button>
						<button type="button" class="btn btn-primary btn-lg btn-block" @click="updateclient()" v-if="update && actiune == false">Redacteaza</button>
					</div>



				</div>
			</div>
		</sweet-modal>
		<!-- End Modal editare client -->

		<!-- Modal adauga/editare  proprietati propuse -->
		<sweet-modal ref="adaugaclient" :title="'Adauga imobil prous pentru clientul: ' + client.nume">
			<div class="container-fluid">

				<!-- Detalii client -->
				<div class="row">
					<div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label class="control-label" for="nume">Nume Prenume client</label>
  							<input type="text" class="form-control" id="nume" v-model="client.nume">
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label class="control-label" for="telefon">Numar (numere) de telefon</label>
  							<input type="text" class="form-control" id="telefon" v-model="client.telefon">
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label class="control-label" for="sait">De pe ce sait a fost solicitarea</label>
  							<input type="text" class="form-control" id="sait" v-model="client.sait">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label" for="interes">Detalii...</label>
  							<textarea id="interes" class="form-control" v-model="client.interes"></textarea>
						</div>
					</div>
					<div class="col-md-12 text-center">
						<div class="btns">
							<label>
								<input name="decidere" type="radio" value="nu" checked="checked" v-model="proprietate.decidere"> 
								<span class="btn">Clientul care cauta sa cumpere/inchirieze o proprietate
								</span>
							</label> 
							<label>
								<input name="decidere" type="radio" value="da" v-model="proprietate.decidere"> 
								<span class="btn last">Clientul care a apelat pentru o proprietate din anunt</span>
							</label>
						</div>
					</div>
				</div>
				<!--End Detalii client -->

				<!-- Add nu este decis -->
				<div class="row" v-if="proprietate.decidere == 'nu'">
					<div class="col-md-12 text-center">
						<h3 class="d-block" v-if="client.nume">Clientul {{ client.nume }} a apelat pentru o proprietate din anunt</h3><hr>
						<div class="btns">
							<label>
								<input name="tip" type="radio" value="vinzari" checked="checked" v-model="proprietate.tip"> 
								<span class="btn">Vinzari</span>
							</label> 
							<label>
								<input name="tip" type="radio" value="inchirieri" v-model="proprietate.tip"> 
								<span class="btn last">Inchirieri</span>
							</label>
						</div>
					</div>
					<div class="col-md-12 text-center">
						<div class="btns">
							<label>
								<input name="categorie" type="radio" value="rezidential" checked="checked" v-model="proprietate.categorie"> 
								<span class="btn">Rezidential</span>
							</label> 
							<label>
								<input name="categorie" type="radio" value="comercial" v-model="proprietate.categorie"> 
								<span class="btn last">Comercial</span>
							</label>
							<label>
								<input name="categorie" type="radio" value="terenuri" v-model="proprietate.categorie"> 
								<span class="btn last">Terenuri</span>
							</label>
						</div>
					</div>

					<!-- Nu este decis rezidential --> 
					<div class="col-md-12" v-if="proprietate.categorie == 'rezidential'">
						<rezidential :decizie="proprietate.decidere" :mode="adprop" @rezidential="adauga"/>
					</div>
					<!-- END Nu este decis rezidential --> 

					<!-- Nu este decis comercial --> 
					<div class="col-md-12" v-if="proprietate.categorie == 'comercial'">
						<comercial :decizie="proprietate.decidere" @comercial="adauga"/>
					</div>
					<!--END Nu este decis comercial -->

					<!-- Nu este decis terenuri--> 
					<div class="col-md-12" v-if="proprietate.categorie == 'terenuri'">
						 <terenuri :decizie="proprietate.decidere" @terenuri="adauga"/>
					</div>
					<!-- Nu este decis terenuri--> 
				</div>
				<!-- End nu este decis -->

				<!-- Add este decis -->
				<div class="row" v-else>
					<div class="col-md-12 text-center">
						<h3 class="d-block" v-if="client.nume">Clientul {{ client.nume }} cauta sa cumpere/inchirieze o proprietate</h3><hr>
						<div class="btns">
							<label>
								<input name="tip" type="radio" value="vinzari" checked="checked" v-model="proprietate.tip"> 
								<span class="btn">Vinzari</span>
							</label> 
							<label>
								<input name="tip" type="radio" value="inchirieri" v-model="proprietate.tip"> 
								<span class="btn last">Inchirieri</span>
							</label>
						</div>
					</div>
					<div class="col-md-12 text-center">
						<div class="btns">
							<label>
								<input name="categorie" type="radio" value="rezidential" checked="checked" v-model="proprietate.categorie"> 
								<span class="btn">Rezidential</span>
							</label> 
							<label>
								<input name="categorie" type="radio" value="comercial" v-model="proprietate.categorie"> 
								<span class="btn last">Comercial</span>
							</label>
							<label>
								<input name="categorie" type="radio" value="terenuri" v-model="proprietate.categorie"> 
								<span class="btn last">Terenuri</span>
							</label>
						</div>
					</div>
					<!-- este decis rezidential --> 
					<div class="col-md-12" v-if="proprietate.categorie == 'rezidential'">
						<rezidential :decizie="proprietate.decidere" :mode="adprop" @rezidential="adauga"/>
					</div>
					<!-- END este decis rezidential --> 

					<!-- este decis comercial --> 
					<div class="col-md-12" v-if="proprietate.categorie == 'comercial'">
						<comercial :decizie="proprietate.decidere" @comercial="adauga"/>
					</div>
					<!--END este decis comercial -->

					<!-- este decis terenuri--> 
					<div class="col-md-12" v-if="proprietate.categorie == 'terenuri'">
						<terenuri :decizie="proprietate.decidere" @terenuri="adauga"/>
					</div>
					<!-- este decis terenuri--> 
				</div>
				<!-- End este decis -->

			</div>
		</sweet-modal>
		<!-- End Modal adauga/editare  proprietati propuse -->

		<!-- Modal adauga  inca o  proprietate -->
		<sweet-modal ref="adaugainca" :title="'Adauga imobil prous pentru clientul: ' + client.nume">
			<div class="container-fluid">

				<!-- Detalii client -->
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="btns">
							<label>
								<input name="decidereadd" type="radio" value="nu" checked="checked" v-model="proprietate.decidere"> 
								<span class="btn">Clientul care cauta sa cumpere/inchirieze o proprietate
								</span>
							</label> 
							<label>
								<input name="decidereadd" type="radio" value="da" v-model="proprietate.decidere"> 
								<span class="btn last">Clientul care a apelat pentru o proprietate din anunt</span>
							</label>
						</div>
					</div>
				</div>
				<!--End Detalii client -->

				<!-- Add nu este decis -->
				<div class="row" v-if="proprietate.decidere == 'nu'">
					<div class="col-md-12 text-center">
						<h3 class="d-block" v-if="client.nume">Clientul {{ client.nume }} a apelat pentru o proprietate din anunt</h3><hr>
						<div class="btns">
							<label>
								<input name="tipadd" type="radio" value="vinzari" checked="checked" v-model="proprietate.tip"> 
								<span class="btn">Vinzari</span>
							</label> 
							<label>
								<input name="tipadd" type="radio" value="inchirieri" v-model="proprietate.tip"> 
								<span class="btn last">Inchirieri</span>
							</label>
						</div>
					</div>
					<div class="col-md-12 text-center">
						<div class="btns">
							<label>
								<input name="categorieadd" type="radio" value="rezidential" checked="checked" v-model="proprietate.categorie"> 
								<span class="btn">Rezidential</span>
							</label> 
							<label>
								<input name="categorieadd" type="radio" value="comercial" v-model="proprietate.categorie"> 
								<span class="btn last">Comercial</span>
							</label>
							<label>
								<input name="categorieadd" type="radio" value="terenuri" v-model="proprietate.categorie"> 
								<span class="btn last">Terenuri</span>
							</label>
						</div>
					</div>

					<!-- Nu este decis rezidential --> 
					<div class="col-md-12" v-if="proprietate.categorie == 'rezidential'">
						<rezidential :decizie="proprietate.decidere" :mode="adprop" @rezidential="adaugaincaoprop"/>
					</div>
					<!-- END Nu este decis rezidential --> 

					<!-- Nu este decis comercial --> 
					<div class="col-md-12" v-if="proprietate.categorie == 'comercial'">
						<comercial :decizie="proprietate.decidere" @comercial="adaugaincaoprop"/>
					</div>
					<!--END Nu este decis comercial -->

					<!-- Nu este decis terenuri--> 
					<div class="col-md-12" v-if="proprietate.categorie == 'terenuri'">
						 <terenuri :decizie="proprietate.decidere" @terenuri="adaugaincaoprop"/>
					</div>
					<!-- Nu este decis terenuri--> 
				</div>
				<!-- End nu este decis -->

				<!-- Add este decis -->
				<div class="row" v-else>
					<div class="col-md-12 text-center">
						<h3 class="d-block" v-if="client.nume">Clientul {{ client.nume }} cauta sa cumpere/inchirieze o proprietate</h3><hr>
						<div class="btns">
							<label>
								<input name="tipadd" type="radio" value="vinzari" checked="checked" v-model="proprietate.tip"> 
								<span class="btn">Vinzari</span>
							</label> 
							<label>
								<input name="tipadd" type="radio" value="inchirieri" v-model="proprietate.tip"> 
								<span class="btn last">Inchirieri</span>
							</label>
						</div>
					</div>
					<div class="col-md-12 text-center">
						<div class="btns">
							<label>
								<input name="categorieadd" type="radio" value="rezidential" checked="checked" v-model="proprietate.categorie"> 
								<span class="btn">Rezidential</span>
							</label> 
							<label>
								<input name="categorieadd" type="radio" value="comercial" v-model="proprietate.categorie"> 
								<span class="btn last">Comercial</span>
							</label>
							<label>
								<input name="categorieadd" type="radio" value="terenuri" v-model="proprietate.categorie"> 
								<span class="btn last">Terenuri</span>
							</label>
						</div>
					</div>
					<!-- este decis rezidential --> 
					<div class="col-md-12" v-if="proprietate.categorie == 'rezidential'">
						<rezidential :decizie="proprietate.decidere" :mode="adprop" @rezidential="adaugaincaoprop"/>
					</div>
					<!-- END este decis rezidential --> 

					<!-- este decis comercial --> 
					<div class="col-md-12" v-if="proprietate.categorie == 'comercial'">
						<comercial :decizie="proprietate.decidere" @comercial="adaugaincaoprop"/>
					</div>
					<!--END este decis comercial -->

					<!-- este decis terenuri--> 
					<div class="col-md-12" v-if="proprietate.categorie == 'terenuri'">
						<terenuri :decizie="proprietate.decidere" @terenuri="adaugaincaoprop"/>
					</div>
					<!-- este decis terenuri--> 
				</div>
				<!-- End este decis -->

			</div>
		</sweet-modal>
		<!-- End Modal adauga inca o proprietate -->

		<!-- View client -->
		<sweet-modal ref="view" :title="'Detalii client ' + client.nume">

			<div class="container-fluid">
				<div class="bs-callout bs-callout-info" id="callout-alerts-no-default"> 
					<h4>{{ client.nume }} <span><i class="material-icons">phone</i>{{ client.telefon }}</span></h4>
					<hr> 
					
					<p>{{ client.interes }}</p>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="btns">
							<label>
								<input name="dec" type="radio" value="nu" checked="checked" v-model="dec"> 
								<span class="btn">Clientul care cauta sa cumpere/inchirieze o proprietate
								</span>
							</label> 
							<label>
								<input name="dec" type="radio" value="da" v-model="dec"> 
								<span class="btn last">Clientul care a apelat pentru o proprietate din anunt</span>
							</label>
						</div>
					</div>
					<div class="col-md-12" v-if="dec == 'nu'">
						<collapse accordion>
							<collapse-item 

							:title="list.tipul_prop"
							:data="list.created_at | moment('D MMMM YYYY')"
							:listing="list" 
							 v-for="(list, index) in client.listings" :key="index" 
							 v-if="list.decidere == 'nu'">
								<div class="table-responsive">

									<table class="table table-bordered">
										<tbody>
											<tr>
												<td>Tip</td>
												<td>{{ list.tip }}</td>
											</tr>
											<tr>
												<td>Categorie</td>
												<td>{{ list.categorie }}</td>
											</tr>
											<tr>
												<td>Fond locativ</td>
												<td>{{ list.fondlocativ }}</td>
											</tr>
											<tr>
												<td>Tipul proprietatii</td>
												<td>{{ list.tipul_prop }}</td>
											</tr>
											<tr>
												<td>Etajul</td>
												<td>{{ list.etajul }}</td>
											</tr>
											<tr>
												<td>Camere</td>
												<td>{{ list.camere }}</td>
											</tr>
											<tr>
												<td>Suprafata</td>
												<td>{{ list.suprafata }}</td>
											</tr>
											<tr>
												<td>Pretul</td>
												<td>{{ list.pretul }}</td>
											</tr>
											<tr>
												<td>Detalii</td>
												<td>{{ list.detalii }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</collapse-item>
						</collapse>
					</div>
					<div class="col-md-12" v-if="dec == 'da'">
						<collapse accordion>
							<collapse-item
							@cecked="ceckedlisting" 
							:title="list.proiectul" 
							:data="list.created_at | moment('D MMMM YYYY')"
							:listing="list" 
							:nr="index"
							v-for="(list, index) in client.listings" :key="index" 
							v-if="list.decidere == 'da' && list.fondlocativ == 'Constructii noi' && list.categorie == 'rezidential'">
								<div class="table-responsive">
									
									<table class="table table-bordered">
										<tbody>
											<tr>
												<td>Link pe site</td>
												<td>
													
													<a :href="list.link" target="_blank" v-if="list.link != 'NULL'">
									    				<img src="/img/tig.png" alt="Top Imobiliare">
									    			</a>
												</td>
											</tr>
											<tr>
												<td>Tip</td>
												<td>{{ list.tip }}</td>
											</tr>
											<tr>
												<td>Categorie</td>
												<td>{{ list.categorie }}</td>
											</tr>
											<tr>
												<td>Fond locativ</td>
												<td>{{ list.fondlocativ }}</td>
											</tr>
											<tr>
												<td>Tipul proprietatii</td>
												<td>{{ list.tipul_prop }}</td>
											</tr>
											<tr>
												<td>Compania de constructii</td>
												<td>{{ list.compania }}</td>
											</tr>
											<tr>
												<td>Proiectul</td>
												<td>{{ list.compania }}</td>
											</tr>
											<tr>
												<td>Etajul</td>
												<td>{{ list.etajul }}</td>
											</tr>
											<tr>
												<td>Camere</td>
												<td>{{ list.camere }}</td>
											</tr>
											<tr>
												<td>Suprafata</td>
												<td>{{ list.suprafata }}</td>
											</tr>
											<tr>
												<td>Pretul</td>
												<td>{{ list.pretul }}</td>
											</tr>
											<tr>
												<td>Detalii</td>
												<td>{{ list.detalii }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</collapse-item>

							<collapse-item
							@cecked="ceckedlisting" 
							:title="list.numele"
							:data="list.created_at | moment('D MMMM YYYY')"
							:listing="list" 
							:nr="index"
							v-for="(list, index) in client.listings" :key="index" 
							v-if="list.decidere == 'da' && list.fondlocativ == 'Constructii vechi' && list.categorie == 'rezidential'">
								<div class="table-responsive">
									
									<table class="table table-bordered">
										<tbody>
											<tr>
												<td>Link pe site</td>
												<td>
													
													<a :href="list.link" target="_blank" v-if="list.link != 'NULL'">
									    				<img src="/img/tig.png" alt="Top Imobiliare">
									    			</a>  
												</td>
											</tr>
											<tr>
												<td>Tip</td>
												<td>{{ list.tip }}</td>
											</tr>
											<tr>
												<td>Categorie</td>
												<td>{{ list.categorie }}</td>
											</tr>
											<tr>
												<td>Fond locativ</td>
												<td>{{ list.fondlocativ }}</td>
											</tr>
											<tr>
												<td>Tipul proprietatii</td>
												<td>{{ list.tipul_prop }}</td>
											</tr>
											<tr>
												<td>Etajul</td>
												<td>{{ list.etajul }}</td>
											</tr>
											<tr>
												<td>Camere</td>
												<td>{{ list.camere }}</td>
											</tr>
											<tr>
												<td>Suprafata</td>
												<td>{{ list.suprafata }}</td>
											</tr>
											<tr>
												<td>Pretul</td>
												<td>{{ list.pretul }}</td>
											</tr>
											<tr>
												<td>Orasul</td>
												<td>{{ list.orasul }}</td>
											</tr>
											<tr>
												<td>Adresa</td>
												<td>{{ list.adresa }}</td>
											</tr>
											<tr>
												<td>Detalii</td>
												<td>{{ list.detalii }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</collapse-item>

							<collapse-item
							@cecked="ceckedlisting" 
							:title="list.numele"
							:data="list.created_at | moment('D MMMM YYYY')"
							:listing="list" 
							:nr="index"
							v-for="(list, index) in client.listings" :key="index" 
							v-if="list.decidere == 'da' && list.fondlocativ == 'NULL' && list.categorie == 'comercial'">
								<div class="table-responsive">
									
									<table class="table table-bordered">
										<tbody>
											<tr>
												<td>Link pe site</td>
												<td>
													<a :href="list.link" target="_blank" v-if="list.link != 'NULL'">
									    				<img src="/img/tig.png" alt="Top Imobiliare">
									    			</a>  
												</td>
											</tr>
											<tr>
												<td>Tip</td>
												<td>{{ list.tip }}</td>
											</tr>
											<tr>
												<td>Categorie</td>
												<td>{{ list.categorie }}</td>
											</tr>
											<tr>
												<td>Tipul proprietatii</td>
												<td>{{ list.tipul_prop }}</td>
											</tr>
											
											<tr>
												<td>Suprafata</td>
												<td>{{ list.suprafata }}</td>
											</tr>
											<tr>
												<td>Pretul</td>
												<td>{{ list.pretul }}</td>
											</tr>
											<tr>
												<td>Orasul</td>
												<td>{{ list.orasul }}</td>
											</tr>
											<tr>
												<td>Adresa</td>
												<td>{{ list.adresa }}</td>
											</tr>
											<tr>
												<td>Detalii</td>
												<td>{{ list.detalii }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</collapse-item>

							<collapse-item
							@cecked="ceckedlisting" 
							:title="list.numele"
							:data="list.created_at | moment('D MMMM YYYY')"
							:listing="list" 
							:nr="index"
							v-for="(list, index) in client.listings" :key="index" 
							v-if="list.decidere == 'da' && list.fondlocativ == 'NULL' && list.categorie == 'terenuri'">
								<div class="table-responsive">
									
									<table class="table table-bordered">
										<tbody>
											<tr>
												<td>Link pe site</td>
												<td>
													<a :href="list.link" target="_blank" v-if="list.link != 'NULL'">
									    				<img src="/img/tig.png" alt="Top Imobiliare">
									    			</a>  
												</td>
											</tr>
											<tr>
												<td>Tip</td>
												<td>{{ list.tip }}</td>
											</tr>
											<tr>
												<td>Categorie</td>
												<td>{{ list.categorie }}</td>
											</tr>
											<tr>
												<td>Tipul proprietatii</td>
												<td>{{ list.tipul_prop }}</td>
											</tr>
											
											<tr>
												<td>Suprafata</td>
												<td>{{ list.suprafata }}</td>
											</tr>
											<tr>
												<td>Pretul</td>
												<td>{{ list.pretul }}</td>
											</tr>
											<tr>
												<td>Orasul</td>
												<td>{{ list.orasul }}</td>
											</tr>
											<tr>
												<td>Adresa</td>
												<td>{{ list.adresa }}</td>
											</tr>
											<tr>
												<td>Detalii</td>
												<td>{{ list.detalii }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</collapse-item>
						</collapse>
					</div>
				</div>
			</div>
		</sweet-modal>
		<!--End View client -->
		<notifications group="foo" position="bottom right" />
	</div>
</template>

<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from 'sweet-modal-vue'
import Rezidential from './Rezidential.vue'
import Comercial from './Comercial.vue'
import Terenuri from './Terenuri.vue'
import moment from 'vue-moment'
import Collapse from './accordion/Collapse.vue'
import CollapseItem from './accordion/CollapseItem.vue'

	export default {

		name: 'clienti',

		components: {
	        SweetModal,
	        SweetModalTab,
	        Rezidential,
        	Comercial,
        	Terenuri,
        	Collapse,
        	CollapseItem
    	},

		props: ['userId'],

		data () {
			return {
				proprietate: {
					decidere: "nu",
					tip: "vinzari",
					categorie: "rezidential"
				},
				companii: {},
				client: {
					id: "",
					nume: "",
					telefon: "",
					sait: "",
					interes: "",
				},
				cauta: {
					agent: "toti",
					tipul: "",
					categoria: "",
					compania: "",
					ceckcompanie: ""
				},
				agenti: {},
				clients:{},
				optiuni: {},
				dec: "nu",
				caut: true,
				add: false,
				update:false,
				actiune: false,
				adprop: ""
			}
		},

		methods: {
			sterge (id) {
				axios.post('/deleteclient', {
	                params: {
	                    id: id
	                }
	            }).then(function(response){
	            	this.getClients()
	            	//this.$notify('Clientul a fost sters cu succes', 'info', 'bottom-right');
	            	this.$notify({
					  group: 'foo',
					  type: 'success',
					  title: 'Clientul a fost sters cu succes'
					})
					//console.log(response.data)

	            }.bind(this)).catch(function(error){
	                //console.log(error)
	            })
			},
			edit (index) {
				this.client = this.clients[index]
				this.$refs.modal.open()
				this.add = false
				this.update = true
			},
			view (index) {
				this.client = this.clients[index]
				this.$refs.view.open()
			},
			updateclient () {
				this.actiune = true 
				this.update = false
				axios.post('/updateclient', {
	                params: {
	                    client: this.client
	                }
	            }).then(function(response){
	            	this.client.id = ""
	                this.client.nume = ""
					this.client.telefon = ""
					this.client.sait = ""
					this.client.interes = ""
	                this.actiune = false 
					this.add = true

					this.$refs.modal.close()
					this.getClients()

					this.$notify({
					  group: 'foo',
					  type: 'success',
					  title: 'Datele clientului au fost modificate'
					})

					
					//console.log(response.data)

	            }.bind(this)).catch(function(error){
	                //console.log(error)
	            })
			},
			deschide () {
				this.client.id = ""
	            this.client.nume = ""
				this.client.telefon = ""
				this.client.sait = ""
				this.client.interes = ""
				this.$refs.modal.open()
				this.add = true
				this.update = false
			},
			cautare () {
				this.actiune = true 
				this.caut = false
				axios.get('/cautaclienti', {
	                params: {
	                    cauta: this.cauta
	                }
	            }).then(function(response){

	            	this.clients = response.data

	            	this.actiune = false
					this.caut = true
					//console.log(response.data)

	            }.bind(this)).catch(function(error){
	                //console.log(error)
	            })
			},
			adauga (data) {

				var d = data;
				//console.log(this.proprietate.decidere);
				//var optiuni = this.decidere === "da" ? d.da  : d.nu
				
				if (this.proprietate.decidere === "da"){
					this.optiuni = d.da
				}else{
					this.optiuni = d.nu
				}

			//console.log(d);
							

				axios.post('/addclient', {
	                
	                params:{
	                	client: this.client,
	                    category: this.proprietate,
	                    optiuni: this.optiuni
	                }
	                
	             }).then(function(response){

	        		this.client.nume = ""
					this.client.telefon = ""
					this.client.sait = ""
					this.client.interes = ""
					this.$refs.adaugaclient.close()

					this.getClients()

					this.$notify({
					  group: 'foo',
					  type: 'success',
					  title: 'Client adaugat cu succes'
					})

					
					//console.log(response.data)

	             }.bind(this)).catch(function(error){
	                console.log(error)
	            })
			},
			adaugaincaoprop (data) {

				var d = data;
				//console.log(this.proprietate.decidere);
				//var optiuni = this.decidere === "da" ? d.da  : d.nu
				
				if (this.proprietate.decidere === "da"){
					this.optiuni = d.da
				}else{
					this.optiuni = d.nu
				}

			//console.log(d);
							

				axios.post('/addclientinca', {
	                
	                params:{
	                	client: this.client,
	                    category: this.proprietate,
	                    optiuni: this.optiuni
	                }
	                
	             }).then(function(response){

	        		this.client.nume = ""
					this.client.telefon = ""
					this.client.sait = ""
					this.client.interes = ""
					this.$refs.adaugainca.close()

					this.getClients()

					this.$notify({
					  group: 'foo',
					  type: 'success',
					  title: 'Proprietate adaugata cu succes'
					})

					
					//console.log(response.data)

	             }.bind(this)).catch(function(error){
	                console.log(error)
	            })
			},
			ceckedlisting(data){
				var d = data;
				this.client.listings[d.index].ceckcompanie = d.tipcheck
				axios.post('/ceckedlisting', {
	                
	                params:{
	                	id: d.id,
	                    tipceck: d.tipceck,
	                    client_id: d.client_id 
	                }
	                
	             }).then(function(response){
	        		this.client = response.data

					this.getClients()

					this.$notify({
					  group: 'foo',
					  type: 'success',
					  title: 'Statutul a fost modificat'
					})

	             }.bind(this)).catch(function(error){
	                console.log(error)
	            })
			},

			deschideAdaugareImobil (index) {

				this.client = this.clients[index]
				this.$refs.adaugainca.open()
				this.adprop = "da"
				this.add = true
				this.update = false
			},
			deschideAddClient () {
				this.client.id = ""
	            this.client.nume = ""
				this.client.telefon = ""
				this.client.sait = ""
				this.client.interes = ""
				this.adprop = "nu"
				this.$refs.adaugaclient.open()
				this.add = true
			},
			getClients () {
				axios.get('/getClients').then(function(response){
                	this.clients = response.data
                	
	            }.bind(this)).catch(function(error){
	                //console.log(error)
	            })
			},
			getAgenti () {
				axios.get('/getAgenti').then(function(response){
                	this.agenti = response.data
	            }.bind(this)).catch(function(error){
	                //console.log(error)
	            })
			},
			getCompaniiConstructii () {
				axios.get('https://api.topimobiliare.md/api/proiecte/getCompanii').then(function(response){
                	this.companii = response.data
	            }.bind(this)).catch(function(error){
	                //console.log(error)
	            })
			}
		},
		mounted () {
        this.getClients()
        this.getAgenti()
        this.getCompaniiConstructii()
    	}	
	}
</script>

<style lang="scss">
	   .panel-primary > .panel-heading {
		    background-color: #0275d8;
		    border-color: #0275d8;
		}
		.mt-0{
			margin-top: 0;
		}
		.mt-10{
			margin-top: 10px;
		}
		.mt-25{
			margin-top: 25px;
		}
		.page-header h3{
			font-weight: 400;
    		line-height: 1.1;
    		font-size: 24px;
		}

		.btn-primary {
    		background-color: #0275d8;
    		border-color: transparent!important;
    		transition: .5s;
		}
		
		.btn-floating.red {
		    background-color: #ea0c51 !important;
		    top: 10px;
		}

		.btn-floating {
		    display: inline-block;
		    color: #fff;
		    position: relative;
		    overflow: hidden;
		    z-index: 1;
		    width: 54px;
		    height: 54px;
		    line-height: 54px;
		    padding: 0;
		    border-radius: 50%;
		    transition: .3s;
		    cursor: pointer;
		    vertical-align: middle;
		    font-size: 1em;
		    outline: 0;
		    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
		}

		.btn-floating i {
		    width: inherit;
		    display: inline-block;
		    text-align: center;
		    color: #fff;
		    font-size: 3rem;
		    line-height: 54px;
		}

		
.card-header-title-blue{
  font-weight: 500;
}
.collapse-item-blue{
  .card-header-blue{
    cursor: pointer;
  }
  .card-content-blue{
    padding: 0 20px;
    .content-blue{
      padding: 20px 0;
    }
  }
  .card-header-icon-blue{
    transition: transform .377s ease;
  }
  &.is-active{
    & > .card-header-blue .card-header-icon-blue{
      transform: rotate(90deg);
    }
  }
}

.vue-notification {
  padding: 25px 10px !important;
  margin: 0 5px 5px;

  font-size: 12px;

  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }

  &.success {
    background: #0275d8 !important;
    border-left-color: #022e54 !important;
  }
}

.mt-25{
	margin-top: 25px;
}

.mt-0{
	margin-top: 0px;
}
.minw-150{
	min-width: 150px;
}

.bs-callout-info {
    border-left-color: #0275d8 !important;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.clienti {
	hr{
		border-top: 1px solid #c5c1c1;
	}
	.d-block{
		display: block;
	}
	.btns {
  z-index: 0;
  height: 38px;
  padding: 0 auto;
  display: inline-block;
 
}
.btns input {
  display: none;
}
.btns label {
  display: table;
  float: left;
  padding: 0;
  width: 20%;
  height: 100%;
  margin: 0;
  text-align: center;
  margin:0 10px;
  border-radius: 4px; 
}

.btns .btn {
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #0275d8;
  color: #fff;
  -webkit-transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.btns .btn:hover {
  background-color: #025aa5;
  border-color: #01549b;
  -webkit-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}


.btns input:checked + .btn {
  color: #fff;
  background-color: #ea0c51;
  border-color: #f380a4;
  -webkit-transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 150ms;
  transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 150ms;
}

.btns input:checked + .btn:hover {
  color: #fff;
  background-color: #c30943;
  border-color: #8c163b;
  -webkit-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
	tr.da {
	    background-color: #f7ef000d;
	}

	h3{
		display: inline-block;
	}
		.sweet-modal-overlay{
			background: rgba(15, 31, 47, 0.9);
			.sweet-modal{
				width: 70%;
    			max-width: 100%;
			}
		}
		.btn-group{
			margin: 0 auto;
		}
		.violet {
    		background-color: #aa00ff;
    		color: #ffffff;
    		border-color: #ce95ea;
		}
		.rosu {
    		background-color: #ea0c51;
    		color: #ffffff;
    		border-color: #ec638d;
		}

		.verde{
			background-color: #00695c;
    		color: #ffffff;
    		border-color: #00796b;
		}

		.oranj{
			background-color: #e65100;
    		color: #ffffff;
    		border-color: #ef6c00;
		}
		
	    i{
	    	width: inherit;
		    display: inline-block;
		    text-align: center;
		    color: #fff;
		    font-size: 1.6rem;
		    line-height: 1.5;
	    }
		
	}
</style>