<template>
	<div class="row">
		<div class="col-md-12" v-if="decizie=='nu'">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="tip">Tipul spatiului</label>
						<select class="form-control" id="tip" v-model="comnu.tipulProp">
							<option>Depozite, ferme, hale</option>
							<option>Hoteluri, pensiuni</option>
							<option>Încăperi comerciale</option>
							<option>Oficii</option>
							<option>Restaurante, baruri, cafenele</option>
							<option>Spații de producere</option>							
						</select>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="pretul">Pretul</label>
						<input type="text" class="form-control" id="pretul" v-model="comnu.pretul">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="suprafata">Suprafata</label>
						<input type="text" class="form-control" id="suprafata" v-model="comnu.suprafata">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="detalii">Detalii...</label>
						<textarea id="detalii" class="form-control" v-model="comnu.detalii"></textarea>
					</div>
				</div>
			</div>
			
			
			<button class="btn btn-primary btn-lg btn-block disabled" v-if="actiune"> se incarca ... </button>
			<button type="button" class="btn btn-primary btn-lg btn-block" v-if="add == true && actiune == false" @click="ada()">Adauga client</button>
			<button type="button" class="btn btn-primary btn-lg btn-block" v-if="update && actiune == false">Redacteaza</button>
		</div>
		<div class="col-md-12" v-if="decizie=='da'">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="numele">Numele spatiului comercial</label>
						<input type="text" class="form-control" id="numele" v-model="comda.numele" 
						@keyup="searchCom">
						<div class="results-container" v-if="propsCom.length > 0">
							<ul class="collection">
								<li class="collection-item" v-for="(p, index) in propsCom" @click="alegePropCom(index)">
								{{ p.titlu }} - <span>{{ p.nume_agent }}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="tipulProp">Tipul spatiului comercial</label>
						<input type="text" class="form-control" id="tipulProp" v-model="comda.tipulProp">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="orasul">Orasul</label>
						<input type="text" class="form-control" id="orasul" v-model="comda.orasul">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="adresa">Adresa</label>
						<input type="text" class="form-control" id="adresa" v-model="comda.adresa">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="pretul">Pretul</label>
						<input type="text" class="form-control" id="pretul" v-model="comda.pretul">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="suprafata">Suprafata</label>
						<input type="text" class="form-control" id="suprafata" v-model="comda.suprafata">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="detalii">Detalii...</label>
						<textarea id="detalii" class="form-control" v-model="comda.detalii"></textarea>
					</div>
				</div>

				<button class="btn btn-primary btn-lg btn-block disabled" v-if="actiune"> se incarca ... </button>
				<button type="button" class="btn btn-primary btn-lg btn-block" v-if="add == true && actiune == false" @click="ada()">Adauga client</button>
				<button type="button" class="btn btn-primary btn-lg btn-block" v-if="update && actiune == false">Redacteaza</button>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'comercial',
		props: ['decizie'],

		data () {
			return {
				comnu: {
					fondlocativ: "",
					compania: "",
					proiectul: "",
					etajul: "",
					camere: "",
					numele: "",
					tipulProp: "",
					orasul: "",
					adresa: "",
					pretul: "",
					suprafata: "",
					idfurnizor: "",
					link: "",
					detalii: ""
				},

				comda:{
					fondlocativ: "",
					compania: "",
					proiectul: "",
					etajul: "",
					camere: "",
					numele: "",
					tipulProp: "",
					orasul: "",
					adresa: "",
					pretul: "",
					suprafata: "",
					idfurnizor: "",
					link: "",
					detalii: ""
				},
				propsCom: [],
				add: true,
				update:false,
				actiune: false
			}
		},
		methods : {
			ada (event) {
				this.actiune = true 
				this.add = false
				this.$emit('comercial',{
					da: this.comda,
					nu: this.comnu
				})

				this.actiune = false 
				this.add = true
				setTimeout(function (){
					this.comnu.tipulProp = ""
					this.comnu.detalii = ""
					this.comnu.pretul = ""
					this.comnu.suprafata = ""

					this.comda.numele = ""
					this.comda.tipulProp = ""
					this.comda.orasul = ""
					this.comda.adresa = ""
					this.comda.pretul = ""
					this.comda.suprafata = ""
					this.comda.idfurnizor = ""
					this.comda.link = ""
				}.bind(this), 3000)
				

			},
			alegePropCom (index) {
				var prop = this.propsCom[index]
				this.comda.numele = prop.titlu
				this.comda.tipulProp = prop.tip_spatiu
				this.comda.orasul = prop.oras
				this.comda.adresa = prop.adresa
				this.comda.pretul = prop.pret
				this.comda.suprafata = prop.suprafata_totala_teren
				this.comda.idfurnizor = prop.id
				this.comda.link = prop.link_site
				
				this.propsCom = []
			},
			searchCom () {
				if(this.comda.numele === '') this.propsCom = [] 
					else
				axios.get('/cauta-comercial', {
					params: {
						q: this.comda.numele
					}
				}).then(function (res) {
					this.propsCom = res.data
				}.bind(this))
			}
		}
	}
</script>

<style lang="scss">
.results-container{
	position: relative;
	.collection {
	    list-style: none;
	    border-radius: 2px;
	    overflow-y: auto;
	    max-height: 250px;
	    padding: 0px;
	    position: absolute;
	    width: 100%;
	    z-index: 111;
	    background-color: #fff;
	    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);

	    .collection-item {
		    background-color: #fff;
		    line-height: 1.5rem;
		    padding: 10px 20px;
		    margin: 0;
		    border-bottom: 1px solid #e0e0e0;
		    transition: .25s;
		    cursor: pointer;
		    span{
		    	color: #0275d8;
			    font-size: 0.9em;
			    font-weight: 600;
		    }
		    &:hover{
		    	background-color: #ddd;
		    }
		}
	}
}
</style>