<template>
	<div class="row">

		<!-- Decizie nu -->
		<div class="col-md-12" v-if="decizie=='nu'">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="fondlocativ">Fond locativ</label>
						<select class="form-control" id="fondlocativ" v-model="reznu.fondlocativ">
							<option>Constructii noi</option>
							<option>Constructii vechi</option>							
						</select>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="tipulProp">Tipul proprietatii</label>
						<select class="form-control" id="tipulProp" v-model="reznu.tipulProp">
							<option value="Apartament">Apartament</option>
							<option value="Casă/Vilă">Casă/Vilă</option>
							<option value="Duplex/Townhouse">Duplex/Townhouse</option>
							<option value="Teren">Teren</option>						
						</select>
					</div>
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="camere">Numar camere</label>
						<select class="form-control" id="camere" v-model="reznu.camere">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5 si mai multe</option>							
						</select>
					</div>
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="suprafata">Suprafata</label>
  						<input type="text" class="form-control" id="suprafata" v-model="reznu.suprafata">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="etajul">Etajul</label>
						<input type="text" class="form-control" id="etajul" v-model="reznu.etajul">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="pretul">Pretul</label>
						<input type="text" class="form-control" id="pretul" v-model="reznu.pretul">
					</div>
				</div>
				
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="detalii">Detalii...</label>
						<textarea id="detalii" class="form-control" v-model="reznu.detalii"></textarea>
					</div>
				</div>
			</div>
			
			
			
			<button class="btn btn-primary btn-lg btn-block disabled" v-if="actiune"> se incarca ... </button>
			<button type="button" class="btn btn-primary btn-lg btn-block" v-if="add == true && actiune == false" @click="ada()">Adauga client</button>
			<button type="button" class="btn btn-primary btn-lg btn-block" v-if="update && actiune == false">Redacteaza</button>
			
		</div>
		<!-- End Decizie nu -->
		<!-- Decizie da -->
		<div class="col-md-12" v-if="decizie=='da'">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="d-block">Fondul locativ {{ rezda.fondlocativ }}</h3><hr>
					<div class="btns" v-if="mode=='nu'">
						<label>
							<input  type="radio" value="Constructii noi" checked="checked" v-model="rezda.fondlocativ"> 
							<span class="btn">Constructii noi</span>
						</label> 
						<label>
							<input  type="radio" value="Constructii vechi" v-model="rezda.fondlocativ"> 
							<span class="btn last">Constructii vechi</span>
						</label>
					</div>
					<div class="btns" v-if="mode=='da'">
						<label>
							<input name="find-locativadd" type="radio" value="Constructii noi" checked="checked" v-model="rezda.fondlocativ"> 
							<span class="btn">Constructii noi</span>
						</label> 
						<label>
							<input name="find-locativadd" type="radio" value="Constructii vechi" v-model="rezda.fondlocativ"> 
							<span class="btn last">Constructii vechi</span>
						</label>
					</div>
				</div>
			</div>
			<!-- Constructii noi -->
			<div class="row" v-if="rezda.fondlocativ == 'Constructii noi'">
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="compania">Compania de constructii</label>
						<select class="form-control" id="compania" v-model="ind" @change="getProiecte">
						  	<option v-for="(com, index) in companii" :key="index" :value="index">{{ com.nume }}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="proiectul">Proiectele companiei de constructii</label>
						<select class="form-control" id="proiectul" v-model="indP" @change="getProiect">
						  	<option v-for="(pro, index) in proiecte" :key="index" :value="index">{{ pro.nume }}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="camere">Numar camere</label>
						<select class="form-control" id="camere" v-model="rezda.camere">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5 si mai multe</option>							
						</select>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="suprafata">Suprafata</label>
  						<input type="text" class="form-control" id="suprafata" v-model="rezda.suprafata">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="etajul">Etajul</label>
						<input type="text" class="form-control" id="etajul" v-model="rezda.etajul">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="pretul">Pretul</label>
						<input type="text" class="form-control" id="pretul" v-model="rezda.pretul">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="detalii">Detalii...</label>
						<textarea id="detalii" class="form-control" v-model="rezda.detalii"></textarea>
					</div>
				</div>

				<button class="btn btn-primary btn-lg btn-block disabled" v-if="actiune"> se incarca ... </button>
				<button type="button" class="btn btn-primary btn-lg btn-block" v-if="add == true && actiune == false" @click="ada()">Adauga client</button>
				<button type="button" class="btn btn-primary btn-lg btn-block" v-if="update && actiune == false">Redacteaza</button>
			</div>
			<!-- End Constructii noi -->

			<!-- Constructii vechi -->
			<div class="row" v-if="rezda.fondlocativ == 'Constructii vechi'">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="numele">Numele proprietatii</label>
						<input type="text" class="form-control" id="numele" v-model="rezda.numele" 
						@keyup="searchRez">
						<div class="results-container" v-if="propsRez.length > 0">
							<ul class="collection">
								<li class="collection-item" v-for="(p, index) in propsRez" @click="alegePropRez(index)">
								{{ p.titlu }} - <span>{{ p.nume_agent }}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="orasul">Orasul</label>
						<input type="text" class="form-control" id="orasul" v-model="rezda.orasul">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="adresa">Adresa</label>
						<input type="text" class="form-control" id="adresa" v-model="rezda.adresa">
					</div>
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="camere">Camere</label>
						<input type="text" class="form-control" id="camere" v-model="rezda.camere">
					</div>
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="suprafata">Suprafata</label>
						<input type="text" class="form-control" id="suprafata" v-model="rezda.suprafata">
					</div>
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="pretul">Pretul</label>
						<input type="text" class="form-control" id="pretul" v-model="rezda.pretul">
					</div>
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="etajul">Etajul</label>
						<input type="text" class="form-control" id="etajul" v-model="rezda.etajul">
					</div>
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="tipulProp">Tipul proprietatii</label>
						<input type="text" class="form-control" id="tipulProp" v-model="rezda.tipulProp">
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="detalii">Detalii...</label>
						<textarea id="detalii" class="form-control" v-model="rezda.detalii"></textarea>
					</div>
				</div>

				<button class="btn btn-primary btn-lg btn-block disabled" v-if="actiune"> se incarca ... </button>
				<button type="button" class="btn btn-primary btn-lg btn-block" v-if="add == true && actiune == false" @click="ada()">Adauga client</button>
				<button type="button" class="btn btn-primary btn-lg btn-block" v-if="update && actiune == false">Redacteaza</button>

			</div>
			<!--End Constructii vechi -->
		</div>
		<!--End Decizie da -->
	</div>
</template>

<script>
	export default {
		name: 'rezidential',
		props: ['decizie','mode'],

		data () {
			return {

				reznu: {
					fondlocativ: "",
					compania: "",
					proiectul: "",
					camere: "",
					suprafata: "",
					etajul: "",
					pretul: "",
					detalii: "",
					link: "",
					numele: "",
					orasul: "",
					adresa: "",
					tipulProp: "",
					idfurnizor: ""
				},

				rezda:{
					fondlocativ: "Constructii noi",
					compania: "",
					proiectul: "",
					camere: "",
					suprafata: "",
					etajul: "",
					pretul: "",
					detalii: "",
					link: "",
					numele: "",
					orasul: "",
					adresa: "",
					tipulProp: "",
					idfurnizor: ""
				},
				companii: {},
				proiecte: {},
				ind: "",
				indP: "",
				add: true,
				update:false,
				actiune: false,
				propsRez: []

			}
		},
		methods : {
			alegePropRez (index) {
				var prop = this.propsRez[index]
				this.rezda.numele = prop.titlu
				this.rezda.orasul = prop.oras
				this.rezda.adresa = prop.adresa
				this.rezda.camere = prop.nr_odai
				this.rezda.suprafata = prop.suprafata_totala
				this.rezda.pretul = prop.pret
				this.rezda.etajul = prop.etaj
				this.rezda.tipulProp = prop.tipul
				this.rezda.idfurnizor = prop.id
				this.rezda.link = prop.link_site
				this.propsRez = []
			},
			searchRez () {
				if(this.rezda.numele === '') this.propsRez = [] 
					else
				axios.get('/cauta-rezidential', {
					params: {
						q: this.rezda.numele
					}
				}).then(function (res) {
					this.propsRez = res.data
				}.bind(this))
			},
			ada (event) {
				this.actiune = true 
				this.add = false
				this.$emit('rezidential', {
					da: this.rezda,
					nu: this.reznu
				})

				this.actiune = false 
				this.add = true
				setTimeout(function (){
					this.reznu.fondlocativ = "" 
					this.reznu.detalii = ""
					this.reznu.compania = ""
					this.reznu.proiectul = ""
					this.reznu.camere = ""
					this.reznu.suprafata = ""
					this.reznu.etajul = ""
					this.reznu.pretul = ""
					this.reznu.link = ""
					this.reznu.numele = ""
					this.reznu.orasul = ""
					this.reznu.adresa = ""
					this.reznu.tipulProp = ""
					this.reznu.idfurnizor = ""

					this.rezda.compania = ""
					this.rezda.proiectul = ""
					this.rezda.camere = ""
					this.rezda.suprafata = ""
					this.rezda.etajul = ""
					this.rezda.pretul = ""
					this.rezda.detalii = ""
					this.rezda.link = ""
					this.rezda.numele = ""
					this.rezda.orasul = ""
					this.rezda.adresa = ""
					this.rezda.tipulProp = ""
					this.rezda.idfurnizor = ""
				}.bind(this), 3000)
				
				this.propsRez = []
			},

			getCompaniiConstructii () {
				axios.get('https://api.topimobiliare.md/api/proiecte/getCompanii').then(function(response){
                	this.companii = response.data
	            }.bind(this)).catch(function(error){
	                //console.log(error)
	            })
			},
			getProiecte () {
				this.rezda.compania = this.companii[this.ind].nume

				var id = this.companii[this.ind].id
				axios.get('https://api.topimobiliare.md/api/proiecte/getProjectsOfCompany/' + id).then(function (response) {
                	this.proiecte = response.data
	            }.bind(this))
			},
			getProiect () {
				this.rezda.proiectul = this.proiecte[this.indP].nume
				this.rezda.link = 'https://proiecte.topimobiliare.md/proiecte/' + this.proiecte[this.indP].slug
			}
		},
		mounted () {
        this.getCompaniiConstructii()
    	}
	}
</script>

<style lang="scss">

.results-container{
	position: relative;
	.collection {
	    list-style: none;
	    border-radius: 2px;
	    overflow-y: auto;
	    max-height: 250px;
	    padding: 0px;
	    position: absolute;
	    width: 100%;
	    z-index: 111;
	    background-color: #fff;
	    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);

	    .collection-item {
		    background-color: #fff;
		    line-height: 1.5rem;
		    padding: 10px 20px;
		    margin: 0;
		    border-bottom: 1px solid #e0e0e0;
		    transition: .25s;
		    cursor: pointer;
		    span{
		    	color: #0275d8;
			    font-size: 0.9em;
			    font-weight: 600;
		    }
		    &:hover{
		    	background-color: #ddd;
		    }
		}
	}
}

</style>