<template>
	<div class="row">
		<div class="col-md-12" v-if="decizie=='nu'">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="tip">Tipul terenului</label>
						<select class="form-control" id="tip" v-model="ternu.tipulProp">
							<option>Teren agricol/extravilan</option>
							<option>Teren intravilan</option>							
						</select>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="pretul">Pretul</label>
						<input type="text" class="form-control" id="pretul" v-model="ternu.pretul">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="suprafata">Suprafata</label>
						<input type="text" class="form-control" id="suprafata" v-model="ternu.suprafata">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="detalii">Detalii...</label>
						<textarea id="detalii" class="form-control" v-model="ternu.detalii"></textarea>
					</div>
				</div>
			</div>
			
			
			<button class="btn btn-primary btn-lg btn-block disabled" v-if="actiune"> se incarca ... </button>
			<button type="button" class="btn btn-primary btn-lg btn-block"  v-if="add == true && actiune == false" @click="ada()">Adauga client</button>
			<button type="button" class="btn btn-primary btn-lg btn-block"  v-if="update && actiune == false">Redacteaza</button>
		</div>
		<div class="col-md-12" v-if="decizie=='da'">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="numele">Numele terenului</label>
						<input type="text" class="form-control" id="numele" v-model="terda.numele" 
						@keyup="searchTer">
						<div class="results-container" v-if="propsTer.length > 0">
							<ul class="collection">
								<li class="collection-item" v-for="(p, index) in propsTer" @click="alegePropTer(index)">
								{{ p.titlu }} - <span>{{ p.nume_agent }}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="tipulProp">Tipul spatiului comercial</label>
						<input type="text" class="form-control" id="tipulProp" v-model="terda.tipulProp">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="orasul">Orasul</label>
						<input type="text" class="form-control" id="orasul" v-model="terda.orasul">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="adresa">Adresa</label>
						<input type="text" class="form-control" id="adresa" v-model="terda.adresa">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="pretul">Pretul</label>
						<input type="text" class="form-control" id="pretul" v-model="terda.pretul">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label class="control-label" for="suprafata">Suprafata</label>
						<input type="text" class="form-control" id="suprafata" v-model="terda.suprafata">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="detalii">Detalii...</label>
						<textarea id="detalii" class="form-control" v-model="terda.detalii"></textarea>
					</div>
				</div>

				<button class="btn btn-primary btn-lg btn-block disabled" v-if="actiune"> se incarca ... </button>
				<button type="button" class="btn btn-primary btn-lg btn-block" v-if="add == true && actiune == false" @click="ada()">Adauga client</button>
				<button type="button" class="btn btn-primary btn-lg btn-block" v-if="update && actiune == false">Redacteaza</button>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'terenuri',
		props: ['decizie'],

		data () {
			return {
				ternu: {
					fondlocativ: "",
					compania: "",
					proiectul: "",
					etajul: "",
					camere: "",
					numele: "",
					tipulProp: "",
					orasul: "",
					adresa: "",
					pretul: "",
					suprafata: "",
					idfurnizor: "",
					link: "",
					detalii: ""
				},

				terda:{
					fondlocativ: "",
					compania: "",
					proiectul: "",
					etajul: "",
					camere: "",
					numele: "",
					tipulProp: "",
					orasul: "",
					adresa: "",
					pretul: "",
					suprafata: "",
					idfurnizor: "",
					link: "",
					detalii: ""
				},
				propsTer: [],
				add: true,
				update:false,
				actiune: false
			}
		},
		methods : {
			ada (event) {
				this.actiune = true 
				this.add = false
				this.$emit('terenuri',{
					da: this.terda,
					nu: this.ternu
				})

				this.actiune = false 
				this.add = true

				setTimeout(function (){
					this.ternu.tipulProp = ""
					this.ternu.detalii = ""
					this.ternu.pretul = ""
					this.ternu.suprafata = ""

					this.terda.numele = ""
					this.terda.tipulProp = ""
					this.terda.orasul = ""
					this.terda.adresa = ""
					this.terda.pretul = ""
					this.terda.suprafata = ""
					this.terda.idfurnizor = ""
					this.terda.link = ""
				}.bind(this), 3000)
			},
			alegePropTer (index) {
				var prop = this.propsTer[index]
				this.terda.numele = prop.titlu
				this.terda.tipulProp = prop.tipul
				this.terda.orasul = prop.oras
				this.terda.adresa = prop.adresa
				this.terda.pretul = prop.pret
				this.terda.suprafata = prop.suprafata_totala
				this.terda.idfurnizor = prop.id
				this.terda.link = prop.link_site
				
				this.propsTer = []
			},
			searchTer () {
				if(this.terda.numele === '') this.propsTer = [] 
					else
				axios.get('/cauta-terenuri', {
					params: {
						q: this.terda.numele
					}
				}).then(function (res) {
					this.propsTer = res.data
				}.bind(this))
			}
		}
	}
</script>

<style lang="scss">
.results-container{
	position: relative;
	.collection {
	    list-style: none;
	    border-radius: 2px;
	    overflow-y: auto;
	    max-height: 250px;
	    padding: 0px;
	    position: absolute;
	    width: 100%;
	    z-index: 111;
	    background-color: #fff;
	    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);

	    .collection-item {
		    background-color: #fff;
		    line-height: 1.5rem;
		    padding: 10px 20px;
		    margin: 0;
		    border-bottom: 1px solid #e0e0e0;
		    transition: .25s;
		    cursor: pointer;
		    span{
		    	color: #0275d8;
			    font-size: 0.9em;
			    font-weight: 600;
		    }
		    &:hover{
		    	background-color: #ddd;
		    }
		}
	}
}
</style>