<template>
<div>
	<div class="form-group">
    Proprietatea: <br>
    <input type="text" class="form-control" name="proprietatea" @keyup="search()" v-model="string">
    <div class="results" v-if="results.length > 0">
      <ul>
        <li v-for="(r, index) in results" @click="alegeProprietatea(index)">{{r.titlu}} <b> | </b> <span class="text-danger">{{r.adresa}}</span> <b> | </b> <span class="text-success">{{r.pret}}</span></li>
      </ul>
    </div>
  </div>
  <div class="form-group">
	  Detalii: <br>
	  <textarea name="detalii" rows="5" class="form-control"></textarea>
	</div>
	<br>
  <div class="col-md-12 text-right">
    <div class="form-group">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-save"></i> Adaugă
        </button>
    </div>
  </div>
</div>
</template>

<script>
export default {
	data () {
		return {
			string: '',
      results: []
		}
  },
  methods: {
    search (){
      axios.get('/cauta-rezidential',{
        params: {
          q : this.string
        }
      }).then(function (response) {
        this.results = response.data
      }.bind(this)).catch(function (error) {
        console.log(error)
      })
    },
    alegeProprietatea (index) {
      this.string = this.results[index].titlu + ' [ID: ' + this.results[index].id +']'
      this.results = []
    }
  }
}
</script>

<style scoped>
	  select {

  /* styling */
  background-color: white !important;
  display: inline-block !important;
  font: inherit !important;
  line-height: 1.5em !important;
  padding: 0.5em 3.5em 0.5em 1em !important;

  /* reset */

  margin: 0 !important;      
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}


select.form-control {
  background-image:
    linear-gradient(45deg, transparent 50%, #000 50%),
    linear-gradient(135deg, #000 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc) !important;
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em !important;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em !important;
  background-repeat: no-repeat !important;
}

select.form-control:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc) !important;
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em !important;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em !important;
  background-repeat: no-repeat !important;
  border-color: green !important;
  outline: 0 !important;
}


select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 #000 !important;
}

.mt-30{
  margin-top: 30px;
}
.mb-15{
  margin-bottom: 15px;
}
.pt-20{
  padding-top: 20px;
}
.results ul li{
  list-style: none;
  display: block;
  padding: 10px 5px;
  color: #111;
  transition: 0.3s;
  cursor:pointer;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
}
.results ul li:hover{
  background-color: #e3e3e3;
}
.results ul{
  padding-left: 0px;
  border-radius: 5px;
}
.results{
  max-height: 500px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 9000;
}
</style>
