<template>
	<div>
		<div class="row" style="margin-bottom: 20px; margin-top: 20px;">
        <div class="col-md-1">
            <label><span>
                Raion: </span><br>
            </label>
                <select v-model="filtre.raion" class="form-control" @change="getOrase">
                    <option value="">Vă rugăm să selectați</option>
                    <option v-for="r in filtre.raioane" :value="r.raion">{{r.raion}} ({{r.total}})</option>
                </select>
        </div>
        <div class="col-md-1">
            <label><span>
                Oraș: </span><br>
            </label>
                <select v-model="filtre.oras" class="form-control" @change="getSectoare">
                    <option value="">Vă rugăm să selectați</option>
                    <option v-for="or in filtre.orase" :value="or.oras">{{or.oras}} ({{or.total}})</option>
                </select>
        </div>
        <div class="col-md-1">
            <label><span>
                Sector: </span>
            </label><br>
                <select v-model="filtre.sector" class="form-control selectpicker">
                    <option value="">Vă rugăm să selectați...</option>
                    <option v-for="sec in filtre.sectoare">{{sec.sector}}</option>
                </select>
        </div>
        <div class="col-md-1">
            <label><span>
                Nr. Camere: </span><br>
            </label>
                <select v-model="filtre.camera" class="form-control selectpicker">
                    <option value="">Vă rugăm să selectați...</option>
                    <option v-for="cam in filtre.camere">{{cam.nr_camere}}</option>
                </select>
        </div>
        <div class="col-md-1">
            <label><span>
                Categorie: </span><br>
            </label>
                <select v-model="filtre.categoria" class="form-control selectpicker">
                    <option value="">Vă rugăm să selectați...</option>
                    <option value="Apartamente">Apartamente și camere</option>
                    <option value="Case">Case și vile</option>
                </select>
        </div>
        <div class="col-md-1">
            <label><span>
                Fond Locativ: </span><br>
            </label>
                <select v-model="filtre.fondLocativ" class="form-control selectpicker">
                    <option value="">Vă rugăm să selectați...</option>
                    <option v-for="fl in filtre.fonduriLocative">{{fl.fond_locativ}}</option>
                </select>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-sm-6">
                    <label>Pret mim:</label>
                    <br>
                    <input type="text" v-model="filtre.pretMin" class="form-control">
                </div>
                <div class="col-sm-6">
                    <label>Pret max:</label>
                    <br>
                    <input type="text" v-model="filtre.pretMax" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <label><span>
                Data adăugării: </span><br>
            </label>
                <select v-model="filtre.data" class="form-control">
                    <option value="1">De ieri până azi</option>
                    <option value="3">Ultimile 3 zile</option>
                    <option value="7" selected>Ultimile 7 zile</option>
                    <option value="10">Ultimile 10 zile</option>
                    <option value="15">Ultimile 15 zile</option>
                    <option value="30">Ultimile 30 zile</option>
                    <option value="365">Ultimul an</option>
                </select>
        </div>
        <div class="col-md-1">
        	<transition name="fade" v-if="loading">
	          <div class="loading">
	              <i class="fa fa-refresh fa-spin fa-fw"></i> Se Încarcă ...
	           </div>
	        </transition> 
	        <transition name="fade" v-if="!loading">
	        	<div>
		          <label>&nbsp;</label> <br>
	            <button class="btn btn-primary" @click="filtreazaChirii()">Filtrează</button>
	        	</div>
	        </transition> 
            
        </div>
        <div class="col-md-2">
        </div>
    </div>
		
		<div class="row">
        <p class="small pl-50">
            Au fost găsite <b>{{adsChirii.length}}</b> proprietati
        </p>
    </div>

    <table class="table table-striped table-bordered tabel">
            <thead>
                <tr>
                    <th class="img-anunt">Imagine</th>
                    <th class="titlu-anunt">Titlu</th>
                    <th class="adresa-anunt">Adresa</th>
                    <th>Categoria</th>
                    <th>Autor</th>
                    <th class="telefon-anunt">Telefon</th>
                    <th>Preț</th>
                    <!-- <th style="width: 100px !important;">Acțiunea agentului</th> -->
                    <!-- <th style="width: 150px !important;">Raspunsul proprietarului</th> -->
                    <!-- <th></th> -->
                </tr>
            </thead>
            <tbody>
                <tr v-for="(ad, index) in adsChirii">
                    <td class="img-anunt">
                        <a :href="ad.photo" target="_blank">
                            <img :src="ad.photo" :alt="ad.titlu" height="40px;">
                        </a>
                    </td>
                    <td class="titlu-anunt">
                        <a :href="ad.link" target="_blank" >{{ad.titlu}}</a> <a :href="ad.link" target="_blank" class="btn btn-xs btn-primary pull-right">link</a>
                    </td>
                    <td class="adresa-anunt">{{ ad.raion }}, <br>{{ ad.oras }}, <br>{{ ad.sector }}, {{ ad.strada }}</td>
                    <td>{{ ad.categoria }}</td>
                    <td>
                        <a :href="ad.user_link" target="blank" v-if="ad.username !== 'sters'">
                            {{ad.username}}
                        </a>
                        <h4 class="text-center text-danger" v-if="(ad.username === 'sters' && ad.user_id === null)">Adaugat in lista neagra</h4> <br>
                        <button class="btn btn-danger btn-xs" v-if="(ad.username !== 'sters' || ad.user_id === null)" @click="deleteAdV(ad.id, ad.username, index)">
                            Blochează
                        </button>
                    </td>
                    <td class="telefon-anunt">
                        <span v-for="ph in JSON.parse(ad.telefon)" v-html="ph" style="display: block;" v-if="(ad.username !== 'sters' || ad.user_id === null)"></span>

                    </td>
                    <td>
                        <span v-if="ad.username !== 'sters'">{{ad.pret}}</span>
                    </td>
                    <!-- <td style="width: 100px !important;">
                        <select v-model="ad.agent_action" v-if="(ad.username !== 'sters' || ad.user_id === null)">
                            <option disabled>Selectați</option>
                            <option>Ignorat</option>
                            <option>Apelat</option>
                        </select>
                    </td> -->
                    <!-- <td style="width: 150px !important;">
                        <select v-model="ad.response" style="width: 150px !important;" v-if="(ad.username !== 'sters' || ad.user_id === null)">
                            <option disabled>Selectați</option>
                            <option>Nu raspunde</option>
                            <option>Nu doreste sa colaboreze</option>
                            <option>Doreste sa colaboreze</option>
                            <option>Nu mai este valabila</option>
                        </select>
                    </td> -->
                    <!-- <td>
                        <button class="btn btn-success btn" v-if="(ad.username !== 'sters' || ad.user_id === null)" @click="salveazaV(ad.id, index)">
                            Salveaza
                        </button>
                        <h4 class="text-center text-success" v-if="ad.user_id !== null">Salvat cu succes</h4>
                        
                    </td> -->
                </tr>
            </tbody>
        </table>




	</div>
</template>

<script>
import axios from 'axios'
export default {
	props: ['id'],
	data () {
		return {
      adsChirii: '',
      userId: this.id,
      sortResponse: '',
      sort: '',
      sort2: '',
      pretMinim: '',
      pretMaxim: '',
      filtre: {
          raioane: '',
          raion: '',
          orase: '',
          oras: '',
          sectoare: '',
          sector: '',
          camere: '',
          camera: '',
          pretMin: '',
          pretMax: '',
          categorii: '',
          categoria: '',
          fonduriLocative: '',
          fondLocativ: '',
          data: 7
      },
      loading: false,
		}
	},
	methods: {
		filtreazaChirii(){
      this.loading = true
      axios.get('/api/filtreazaChirii',{
          params:{
            raion: this.filtre.raion,
            oras: this.filtre.oras,
            sector: this.filtre.sector,
            camera: this.filtre.camera,
            pretMin: this.filtre.pretMin,
            pretMax: this.filtre.pretMax,
            categoria: this.filtre.categoria,
            fondLocativ: this.filtre.fondLocativ,
            data: this.filtre.data
          }
      }).then(function(response){
        this.adsChirii = response.data
        this.loading = false
      }.bind(this)).catch(function(error){
        console.log(error)
      })
	  },
    getFondLocativ(){
      this.loading = true
      axios.get('/api/getFondLocativ').then(function(response){
        this.filtre.fonduriLocative = response.data
        this.loading = false
      }.bind(this)).catch(function(error){
         console.log(error)
      })
    },
    getCategorii(){
      this.loading = true
      axios.get('/api/getCategorii').then(function(response){
        this.filtre.categorii = response.data
        this.loading = false
      }.bind(this)).catch(function(error){
        console.log(error)
      })
    },
    getNrCamere(){
      this.loading = true
      axios.get('/api/getNrCamere').then(function(response){
        this.filtre.camere = response.data
        this.loading = false
      }.bind(this)).catch(function(error){
        console.log(error)
      })
    },
    getOrase(){
      this.loading = true
      axios.get('/api/getOrase', {
        params: {
            raion: this.filtre.raion
        }
      }).then(function(response){
        this.filtre.orase = response.data
        this.loading = false
      }.bind(this)).catch(function(error){
        console.log(error)
      })
    },
    getRaioane(){
      this.loading = true
      axios.get('/api/getRaioane').then(function(response){
        this.filtre.raioane = response.data
        this.loading = false
      }.bind(this)).catch(function(error){
        console.log(error)
      })
    },
    getSectoare(){
      this.loading = true
      axios.get('/api/getSectoare',{
        params: {
            oras : this.filtre.oras
        }
      }).then(function(response){
        this.filtre.sectoare = response.data
        this.loading = false
      }.bind(this)).catch(function(error){
        console.log(error)
      })
    },
    filtreazaPretV(){
      axios.get('/api/fitruPretV', {
        params: {
          min: this.pretMinim,
          max: this.pretMaxim,
          sort: this.sort,
          sort2: this.sort2
        }
      }).then(function(response){
        this.adsChirii = response.data
      }.bind(this)).catch(function(error){
        console.log(error);
      })
    },
    fetchChirii (){
      axios.get('/api/fetchChirii').then(function(response){
        this.adsChirii = response.data
      }.bind(this)).catch(function(error){
        console.log(error);
      })
    },
    deleteAdV(id_prop, username, index){
      axios.get('/api/deleteAdV', {
        params: {
          id: id_prop,
          user_id : this.userId,
          username: username
        }
      }).then(function(response){
        this.adsChirii[index].username = 'sters'
      }.bind(this)).catch(function(error){
        console.log(error)
      })
    },
    salveazaV(id_prop, index){
      axios.get('/api/updateV', {
        params: {
          id : id_prop,
          agent_action: this.adsChirii[index].agent_action,
          response: this.adsChirii[index].response,
          user_id: this.userId
        }
      }).then(function(response){
        this.adsChirii[index].user_id = this.userId
        this.adsChirii[index].username = 'sters'
      }.bind(this)).catch(function(error){
        console.log(error)
      })
    }
  },
  mounted () {
    this.fetchChirii()
    this.getRaioane()
    this.getNrCamere()
    this.getCategorii()
    this.getFondLocativ()
  }
}
</script>

<style>
.nav-tabs > li {
  float:none;
  display:inline-block;
  zoom:1;
}
.nav-tabs > li a{
  font-size: 18px;
}
.nav-tabs {
    text-align:center;
}
</style>